.ds-gridTable {
  background-color: $color-background;

  &--item {
    min-width: 0;
    word-break: break-word;
    padding: $space-1x $space-halfx;
  }

  &--header {
    .ds-gridTable--item {
      @extend .fontSize-tableHeading;
    }
  }

  &-condensed {
    .ds-gridTable--item {
      padding: $space-halfx;
    }
  }
}
