:host {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  line-height: 1.2em;
}
input {
  border: none;
  border-radius: 0;
  border-left: 3px solid green;
  padding-left: 10px;
}
