.ds-gridTable {
  background-color: $color-background;

  &--header,
  &--row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 0 $space-1x;

    &:not(:last-child) {
      border-bottom: 1px solid $color-divider;
      margin-bottom: -1px;
    }
  }
  &--header {
    .ds-gridTable--item {
      @extend .fontSize-tableHeading;
    }
  }

  &-condensed {
    .ds-gridTable--item {
      padding: $space-halfx;
    }
  }
}
